<h2 mat-dialog-title>{{table.name}}</h2>

<div class="container">

    <input type="text" cdkFocusInitial [(ngModel)]="table.name">

    <table #grid>
        <tr>
            <th>Name</th>
            <th>type</th>
            <th>precision</th>
        </tr>
        <tr appLineControl *ngFor="let col of table.columns; let i = index">
            <td>
                <input [ariaRowIndex]="i" [rowIndex]="i" [colIndex]="0" appColControl type="text"
                    [(ngModel)]="col.name">
            </td>
            <td>
                <select appColControl [rowIndex]="i" [colIndex]="1" [(ngModel)]="col.type">
                    <option value="integer">integer</option>
                    <option value="int2">int2</option>
                    <option value="int4">int4</option>
                    <option value="varchar">varchar</option>
                    <option value="bigint">bigint</option>
                    <option value="timestamp">timestamp</option>
                    <option value="date">date</option>
                </select>
            </td>
            <td>
                <input appColControl [rowIndex]="i" [colIndex]="2" type="number" [(ngModel)]="col.precision">
            </td>
        </tr>
    </table>
</div>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-raised-button color="primary" (click)="create()">Create</button>
</mat-dialog-actions>